<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="TextErrorLayout" value ="${gdc:item=ApplicationName} ${date:format=yyyy-MM-dd HH\:mm\:ss.fff}${newline}
Level: ${level}${newline}
Description: ${message}${newline}
Machine: ${machinename}${newline}
User: ${windows-identity}${newline}
Process: ${processname}${newline}
WorkingDir: ${basedir}${newline}
Exception: ${exception:format=tostring}${newline}
DetailedMessage: ${event-context:item=Details}${newline}"/>

    <targets async="true">

        <target name="LogAll" xsi:type="FallbackGroup">
            <!--<target name="console" xsi:type="ColoredConsole"
                layout="${date}: ${message}" />-->
            <target name="file" xsi:type="File" filename="${basedir}/Site.log"
                    layout="${date}: ${message}" />
            <!--<target xsi:type="Database"
                    connectionString="${gdc:item=ConnectionString}"
                    commandText="exec dbo.Log_CreateWithExtended @applicationName, @logLevel, @entryDate, @description, @machineName, @userName, @assembly, @workingDirectory, @exception, @detailedMessage">
                <dbProvider>mssql</dbProvider>
                <parameter name="@applicationName" layout="${gdc:item=ApplicationName}"/>
                <parameter name="@logLevel" layout="${level}"/>
                <parameter name="@entryDate" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
                <parameter name="@description" layout="${message}"/>
                <parameter name="@machineName" layout="${machinename}"/>
                <parameter name="@userName" layout="${windows-identity}"/>
                <parameter name="@assembly" layout="${processname}"/>
                <parameter name="@workingDirectory" layout="${basedir}"/>
                <parameter name="@exception" layout="${exception:format=tostring}"/>
                <parameter name="@detailedMessage" layout="${event-context:item=Details}"/>
            </target>-->
        </target>

        <target name="LogCrit" xsi:type="FallbackGroup">
            <target name="eventlog" xsi:type="EventLog" source="NetPonto.WEB"
                            layout="${date}: ${message} ${stacktrace}" />
            <!--<target name="email" xsi:type="Mail"
                    smtpServer="smtp.local"
                    from="errors@netponto.org"
                    to="holyone.pt@gmail.com"
                    subject="${gdc:item=ApplicationName} ${level} Error: ${message}"
                    layout="${TextErrorLayout}"/>-->
        </target>
    </targets>


    <rules>
        <logger name="*" minlevel="Info" writeTo="LogAll" />
        <logger name="*" minlevel="Error" writeTo="LogCrit" />
    </rules>
</nlog>
