<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NetPontoDBEntities" connectionString="metadata=res://*/NetPonto.DAL.NetPonto.csdl|res://*/NetPonto.DAL.NetPonto.ssdl|res://*/NetPonto.DAL.NetPonto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHOTGUN;initial catalog=NetPontoDB;user id=sa;password=Password!1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>